body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    background-color:black;
  }
  
  header {
    background-color:pink;
    color:black;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  
